<tui-island>
  <div class="island-content">
    <div class="island-header">
      <div>
        <h3 class="tui-island__title">{{repositoryData?.name}}</h3>
        <p class="tui-island__category">{{repositoryData?.description}}</p>
      </div>

     <div>
       <tui-avatar class="tui-island__figure" text="Batman" [avatarUrl]="repositoryData?.owner?.avatarUrl!"></tui-avatar>
       <p class="tui-island__category">{{repositoryData?.owner?.name}}</p>
     </div>
    </div>

    <a [href]="repositoryData?.url" tuiLink>{{repositoryData?.url}}</a>
    <p>Дата последнего релиза: {{repositoryData?.latestRelease?.createdAt ?
                                (repositoryData?.latestRelease?.createdAt | date: 'dd.MM.yyyy')
                                : 'Отсутствует'}}</p>

    <p class="tui-island__category">
      <tui-svg [src]="'tuiIconStar'"></tui-svg>
      {{repositoryData?.stargazerCount}}</p>
  </div>
</tui-island>
